
.footer__container {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 20px 15px;
    text-align: center;
    
}
.flex__container{
    display: flex;
    justify-content: center;  
    max-width: 1200px;
    margin: 0 auto;
}
footer h4, footer p{
    margin: 0;
}
footer h4{
    color: var(--menu-color);
}

.footer__container .flex__container{
    padding-top: 15px;
}
.footer__item{
    padding: 15px 15px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: rgb(69, 123, 157, .1);
    text-align: center;
}
.footer__item i {
    color: var(--menu-color);
    border-radius: 50%;
    padding: 10px 10px;
    margin: 5px 0;
    font-size: 1.2rem;
    border: solid 1px;
}
